@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Open+Sans&family=Poppins&display=swap');

* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

#navbarScrollingDropdown {
  color: white;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
.nav-btn:hover {
  border-bottom: red 0.3rem solid;
  margin-bottom: 0;
  margin-top: 0;
}

.brand-logo {
  width: 7rem;
  height: 3rem;
}

.bg-tomato {
  background-color: tomato;
}

.text-mulish {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
.text-garamond {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
}
