@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Open+Sans&family=Poppins&display=swap');

* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}
body {
  background-image: url(./components/images/1899348.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.footer {
  bottom: 0;
}
.errorpage {
  height: 60vh;
}
.termsmodal {
  overflow-y: scroll;
  height: 15rem;
}

#navbarScrollingDropdown {
  color: white;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
#navbarScrollingDropdown2 {
  color: black;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
.nav-btn:hover {
  border-bottom: red 0.3rem solid;
  margin-bottom: 0;
  margin-top: 0;
}
.brand-logo {
  width: 7rem;
  height: 3rem;
}



.bg-tomato {
  background-color: tomato !important;
  border-color: tomato !important;
}
.bg-clear {
  background-color: rgba(217, 136, 128, 0.4);
  border-color: ;
}



.text-mulish {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
.text-garamond {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
}


.image-banner {
  width: 40rem;
  height: 27rem;
}
.img-bedspace {
  width: 36rem;
  height: 20rem;
}



.banner-fade {
  animation: fadeLeft 0.7s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate3d(+10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}