@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Open+Sans&family=Poppins&display=swap');

* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}
body {
  background-image: url(./components/images/1899348.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.footer {
  bottom: 0;
}
.errorpage {
  height: 60vh;
}
.termsmodal {
  overflow-y: scroll;
  height: 15rem;
}
#gmap_canvas {
  height: 50vh;
  width: 100%;
}
.card-details {
  overflow-y: scroll;
  height: 15rem;
}
.cardHighlight {
  min-height: 100%;
}
.card-body {
  min-height: 25rem;
}
.card-select {
  min-height: 15rem;
  text-decoration: none !important;
  
}

#navbarScrollingDropdown {
  color: white;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
#navbarScrollingDropdown2 {
  color: black;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
.nav-btn {
  transition: 0.7s;
}
.nav-btn:hover {
  border-bottom: red 0.1rem solid !important;
  margin-bottom: 0;
  margin-top: 0;
  background-color: orangered !important;
  color: white !important;
  transition: 0.7s;
}
.brand-logo {
  width: 7rem;
  height: 3rem;
}



.bg-tomato {
  background-color: tomato !important;
  border-color: tomato !important;
}
.bg-clear {
  background-color: rgba(217, 136, 128, 0.4);
  border-color: ;
}
.bg-none {
  background-color: rgba(0, 0, 0, 0);
}
.bg-bedspace {
  background-image: url(../public/bedspace.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.bg-singleroom {
  background-image: url(../public/roomrent.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.bg-multiunit {
  background-image: url(../public/multiunitroom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.bg-townhouse {
  background-image: url(../public/townhouse.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.bg-mall {
  background-image: url(../public/malltenant.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.unit-options:hover {
  background-color: tomato !important;
  transition: 0.6s;
  border-radius: 0.3rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}



.text-mulish {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}
.text-garamond {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
}
.text-banner {
  border-bottom: 0.2rem solid dimgray;
}
.text-italic {
  font-style: italic !important;
}

.image-highlights {
    height: 8rem;
    width: 12rem;
}
.image-banner {
  width: 40rem;
  height: 27rem;
}
.img-bedspace {
  width: 36rem;
  height: 20rem;
}
.unit-image {
  width: 20rem;
  height: 15rem;
}



.banner-fade {
  animation: fadeLeft 0.7s ease-in both;
}
.banner-fade-right {
  animation: fadeRight 0.7s ease-in both;
}
.banner-fade-in {
  animation: fadeIn 0.7s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translate3d(+10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 425px) /*Mobile (+/-) 6inch Setting section*/
{
.video-card {
  width: 15rem !important;
  height: 10rem !important;
}
}

@media screen and (min-width: 426px) /*Mobile (+/-) 6inch Setting section*/
{
.video-card {
  width: 20rem !important;
  height: 14rem !important;
}
}

@media screen and (min-width: 768px) /*Mobile (+/-) 6inch Setting section*/
{
.video-card {
  width: 24rem !important;
  height: 17rem !important;
}
}

@media screen and (min-width: 1024px) /*Mobile (+/-) 6inch Setting section*/
{
.video-card {
  width: 30rem !important;
  height: 20rem !important;
}
}